@font-face {
  font-family: "Magnilda";
  src: url(./font/Magnilda-WyOJn.ttf);
}
body {
  background-color: black;
}
.navbar {
  padding-bottom: 10rem;
}
.carouselSlide {
  transition: transform 0.1s ease, opacity 0.1s ease-out;
  padding: 10rem;
}
.card-text {
  font-family: "Courier New", Courier, monospace;
  font-size: x-small;
}
